.card {
    position: relative;
    width: 450px;
    padding: 20px;
    max-width: 85vw;
    height: 50vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}
.card__name{
    display: flex;
}
.card__name h3 {
    font-size: 30px;
    padding-right: 10px;
    color: white;
}
.card__name h4 {
    font-size: 30px;
    font-weight: 300;
    color: white;
}
.card__info__line {
    color: white;
    display: flex;
    font-size: 20px;
    font-weight: 300;
    padding-top: 20px;
}
.card__info__line h4 {
    padding-left: 10px;
}
.tinderCards__cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
.card__text {
    width: 75%;
    height: 30%;
    /* background: green; */
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 10px;
    margin: 20px 10px;
}
.info__button {
    position: absolute;
    bottom: 10px;
    right: 0;
    padding: 10px;
    text-align: center;
}
/* stacks cards on top of each other */
.swipe {
    position: absolute;
}